
.button {
  display:inline-block;
  position:relative;
  background:none;
  border:none;
  color:#fff;
  font-family:Arca Majora3;
  cursor:pointer;
}
  
.button:after {
  left:0;
  bottom:0;
  transition-delay:0.6s;
}
  
.button:before {
  right:0;
  top:0;
  transition-delay:0.2s;
}
  
.button::before,
.button::after {
  content:"";
  width:0;
  height:2px;
  position:absolute;
  transition:all 0.2s linear;
  background:#fff;
}
  
.button:hover:after {
  transition-delay:0s;
  width:100%;
}
  
.button:hover:before {
  transition-delay:0.4s;
  width:100%;
}
  
.button span:after {
  transition-delay:0.4s;
  right:0;
  bottom:0;
}
  
.button span:before {
  transition-delay:0s;
  left:0;
  top:0;
}
  
.button:hover span:after {
  transition-delay:0.2s;
  height:100%;
}
  
.button:hover span:before {
  transition-delay:0.6s;
  height:100%;
}
  
.button-pink {
  background:rgb(241,136,138,0.5);
  border:none;
  color:#fff;
}

.button-pink::before,
.button-pink::after {
  content:"";
  width:0;
  height:2px;
  position:absolute;
  transition:all 0.2s linear;
  background:#fff;
}