.textalignleft { text-align:left; }

.title a {
  background-image:linear-gradient(to right,rgb(3,49,64,0) 50%,#033140 50%);
  background-position:-0% 0;
  background-size:200% auto;
  color:#ffffff;
  text-decoration:none;
  transition:background-position 1s ease-out;
}

.title a:hover { background-position:-99.99% 0; }

.title2 a {
  background-image:linear-gradient(to right,rgba(241,136,138,0) 50%,#F9EDE4 50%);
  background-position:-0% 0;
  background-size:200% auto;
  color:#ffffff;
  text-decoration:none;
  transition:background-position 1s ease-out;
  font-family:Arca Majora3;
}

.title2 a:hover { background-position:-99.99% 0; }

.title3 span {
  cursor:pointer;
  background-image:linear-gradient(to right,rgba(241,136,138,0) 50%,#F1888A 50%);
  background-position:-0% 0;
  background-size:200% auto;
  color:#000000;
  text-decoration:none;
  transition:background-position 1s ease-out;
}

.title3 span:hover { background-position:-99.99% 0; }

.gradient {
  background-image:linear-gradient(to left,transparent,transparent 50%,rgb(3,49,64,0.5) 50%,rgb(3,49,64,0.5));
  background-position:100% 0;
  background-size:200% 100%;
  transition:all .25s ease-in;
}

.gradient:hover { background-position:0 0; }

.whatwedotext2 {
  width:100%;
  height:30vw;
  padding-left:10vw;
  padding-right:10vw;
  padding-bottom:15vw;
  padding-top:10%;
  font-family:Arca Majora3;
  text-align:center;
}

.whatwedotext3 {
  width:50%;
  height:auto;
  color:white;
  padding-top:2vw;
  padding-left:10vw;
  padding-right:10vw;
  padding-bottom:5vw;
  text-align:left;
  font-family:Arca Majora3;
}

.whatwedotext4 {
  width:100%;
  height:30vw;
  color:white;
  padding-left:10vw;
  padding-right:10vw;
  padding-bottom:15vw;
  padding-top:5%;
  font-family:Arca Majora3;
  text-align:center;
  background-image:linear-gradient(to left,transparent,transparent 50%,rgb(3,49,64,0.5) 50%,rgb(3,49,64,0.5));
  background-position:100% 0;
  background-size:200% 100%;
  transition:all .25s ease-in;
}

.whatwedotext4:hover {
  color:#F1888A;
  background-position:0 0;
}

.whatwedotext4.colorwhite:hover {
  color: #fff;
}

.whatwedotext5 {
  width:100%;
  height:40vw;
  padding-left:10vw;
  padding-right:10vw;
  padding-bottom:15vw;
  padding-top:20%;
  text-align:center;
}

.startext {
  width:100%;
  height:auto;
  padding-left:15vw;
  padding-right:15vw;
  padding-bottom:5vw;
  text-align:left;
  font-family:Arca Majora3;
}

.startdiv { padding-top:5vw; }

.whatwedoflexbox {
  width:100%;
  display:flex;
  flex-flow:wrap;
  justify-content:flex-start;
}

.whatwedounitleft {
  width:20%;
  display:flex;
  flex-flow:wrap;
  background-color:white;
}

.hedytexttiltleft {
  transform:rotate(-10deg);
  text-align:left;
  margin-left:4vw;
  font-family:River Jade;
  margin-bottom:2.5vw;
  letter-spacing:0;
  color:#FE7E83;
  font-size:70px;
  margin-top:0;
}

.whatwedobox2 {
  padding-top:2vw;
  padding-left:1vw;
  padding-right:1vw;
  width:100%;
  color:white;
  text-align:center;
  background-image:linear-gradient(to left,transparent,transparent 50%,rgb(3,49,64,0.5) 50%,rgb(3,49,64,0.5));
  background-position:100% 0;
  background-size:200% 100%;
  transition:all .25s ease-in;
}

.whatwedobox2:hover {
  color:#F1888A;
  background-position:0 0;
}

.threeareas2 {
  width:100%;
  display:flex;
  flex-flow:wrap;
  justify-content:space-between;
  padding-left:50px;
  padding-right:50px;
  padding-bottom:100px;
}

.onearea2 {
  width:30%;
  height:auto;
  padding:2vw;
  text-align:left;
  font-family:Arca Majora3;
  letter-spacing:5px;
  transition:background 0.2s ease-in-out,width 1s ease-in,height 1s linear,border-radius 1s ease-in-out;
  -webkit-transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
  transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
}

.onearea2:hover { box-shadow:0 0 20px rgba(33,33,33,.2); }

.opacity052 {
  color:white;
  height:400px;
}

.opacity052:hover { height:400px; }

.hedytexttilt2 {
  transform:rotate(-10deg);
  text-align:left;
  margin-left:-1.5vw;
  font-family:River Jade;
  margin-bottom:-2.5vw;
  letter-spacing:0;
  color:#FE7E83;
  font-size:70px;
  margin-top:0;
}

.threeareassmalltext22 {
  font-family:Futura Thin;
  text-align:left;
  padding-left:1vw;
  padding-right:1vw;
  letter-spacing:0px;
  opacity:1;
}

.introdiv2 {
  width:100%;
  display:flex;
  padding:2vw;
  flex-flow:wrap;
  justify-content:center;
}

.introdiv3 {
  width:100%;
  display:flex;
  flex-flow:wrap;
  justify-content:space-between;
  background-image:linear-gradient(to left,transparent,transparent 50%,rgb(3,49,64,0.5) 50%,rgb(3,49,64,0.5));
  background-position:100% 0;
  background-size:200% 100%;
  transition:all .25s ease-in;
}

.introdiv3:hover { background-position:0 0; }

.introdiv4 {
  width:100%;
  display:flex;
  flex-flow:wrap;
  justify-content:space-between;
}

.hedypicturebox2 {
  height:25vw;
  width:30%;
}

.missiondiv {
  margin-top:5vw;
  width:70%;
  font-family:Arca Majora3;
}

@media (max-width:1000px) {
  .onearea3 {
    width:30%;
    height:auto;
    padding:2vw;
    text-align:left;
    font-family:Arca Majora3;
    letter-spacing:5px;
  }

  .hedytexttilt2 {
    transform:rotate(-10deg);
    text-align:left;
    margin-left:5vw;
    font-family:River Jade;
    margin-bottom:-8vw;
    letter-spacing:0;
    color:#FE7E83;
    font-size:18vw;
    margin-top:0;
  }

  .hedytexttilt3 {
    transform:rotate(-10deg);
    text-align:left;
    margin-left:-2.5vw;
    font-family:River Jade;
    margin-bottom:-8vw;
    letter-spacing:0;
    color:#FE7E83;
    font-size:70px;
    margin-top:0;
  }

  .whatwedotext6 {
    width:100%;
    height:60vw;
    color:white;
    padding-left:10vw;
    padding-right:10vw;
    padding-bottom:15vw;
    padding-top:5%;
    font-family:Arca Majora3;
    text-align:center;
  }

  .startext {
    width:100%;
    height:auto;
    padding-left:5vw;
    padding-right:5vw;
    padding-bottom:5vw;
    text-align:left;
    font-family:Arca Majora3;
  }

  .whatwedobox4 {
    padding-top:2vw;
    padding-left:1vw;
    padding-right:1vw;
    width:100%;
    color:white;
    margin:auto;
    text-align:center;
    background-color:rgb(3,49,64,0.5);
  }

  .whatwedotext2 {
    width:90%;
    height:auto;
    margin:auto;
    color:white;
    padding-top:2vw;
    padding-left:2vw;
    padding-right:2vw;
    padding-bottom:2vw;
    font-family:Arca Majora3;
  }

  .threeareas2 {
    width:90%;
    display:flex;
    flex-flow:column;
    justify-content:center;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:0px;
    margin:auto;
    text-align:center;
  }

  .onearea3 {
    width:90%;
    height:auto;
    padding:4vw;
    text-align:center;
    font-family:Arca Majora3;
    letter-spacing:5px;
    margin:auto;
    margin-bottom:5vw;
    border:1px solid white;
  }

  .opacity0523 {
    color:white;
    padding-bottom:0px;
    height:270px;
  }

  .introdiv2 {
    width:100%;
    display:flex;
    flex-flow:column;
    margin-top:5vw;
    padding:2vw;
    margin-bottom:5vw;
    flex-flow:wrap;
    justify-content:center;
  }

  .missiondiv {
    margin-top:5vw;
    width:90%;
  }

  .hedypicturebox2 {
    height:60vw;
    width:90%;
  }

  .whatwedotext3 {
    width:70%;
    height:auto;
    color:white;
    padding-left:10vw;
    padding-right:10vw;
    padding-bottom:11vw;
    font-family:Arca Majora3;
  }
}

.headerpic2 {
  background-repeat:no-repeat;
  background-position:top;
  background-size:cover;
  height:auto;
  width:100%;
  background-attachment:fixed;
  z-index:-1;
}

@media (max-width:1000px) {
  .hedy {
    background-image:url(../../images/hedy4.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    z-index:-1;
  }

  #innovation {
    background-image:url(../../images/innovationstudiopic.jpg);
    background-repeat:no-repeat;
    background-position:right;
    background-size:cover;
    z-index:-1;
  }

  #academy {
    background-image:url(../../images/code2.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    z-index:-1;
  }

  #academy3 {
    background-image:url(../../images/code2.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    z-index:-1;
  }

  #services {
    background-image:url(../../images/wall.jpg);
    background-repeat:no-repeat;
    background-position:top;
    background-size:cover;
    background-attachment:fixed;
    z-index:-1;
  }

  #innovation {
    background-image:url(../../images/startup.jpg);
    background-repeat:no-repeat;
    background-position:bottom;
    background-size:cover;
    background-attachment:fixed;
    z-index:-1;
  }

  .headerpic {
    background-image:url(../../images/loadingpage2.jpg);
    background-repeat:no-repeat;
    background-position:top;
    background-size:cover;
    z-index:-1;
  }

  .wearehedy {
    background-image:url(../../images/poster.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    z-index:-1;
  }

  .gettoknow {
    background-image:url(../../images/loadingpage1.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
    z-index:-1;
  }

  .whatwedo {
    background-image:url(../../images/loadingpage3.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    z-index:-1;
  }

  #kotlin {
    background-image:url(../../images/kotlin.jpg);
    background-repeat:no-repeat;
    background-position:top;
    background-size:cover;
    background-attachment:fixed;
    z-index:-1;
  }

  #kotlin2 {
    background-image:url(../../images/kotlin.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
  }

  .threeareas {
    flex-flow:column;
    margin-bottom:100px;
  }

  .threeareassmalltext {
    font-family:Futura Thin;
    text-align:left;
    padding-left:40px;
    padding-right:40px;
    letter-spacing:0px;
  }

  .threeareassmalltext2 {
    font-family:Futura Thin;
    text-align:left;
    padding-top:0px;
    padding-left:40px;
    padding-right:40px;
    padding-bottom:45px;
    letter-spacing:0px;
    opacity:1;
  }

  .threeareassmalltext3 {
    font-family:Futura Thin;
    text-align:left;
    padding-top:0px;
    padding-left:40px;
    padding-right:40px;
    padding-bottom:20px;
    letter-spacing:0px;
  }

  #academy {
    background-image:url(../../images/code2.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    z-index:-1;
  }

  #academy3 {
    background-image:url(../../images/code2.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    z-index:-1;
  }

  #kotlin {
    background-image:url(../../images/kotlin.jpg);
    background-repeat:no-repeat;
    background-position:top;
    background-size:cover;
    background-attachment:fixed;
    z-index:-1;
  }

  #kotlin2 {
    background-image:url(../../images/kotlin.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
  }

  .picturedivwhatwedo {
    width:70%;
    margin:auto;
    border-radius:10px;
    padding:10px;
    -webkit-transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
    transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
  }

  .onearea {
    height:800px;
    background-color:rgba(255,255,255,0.3);
    padding:2vw;
    text-align:center;
    font-family:Arca Majora3;
    letter-spacing:5px;
    transition: 0.2s ease-in-out,width 1s ease-in,height 1s linear,border-radius 1s ease-in-out;
    -webkit-transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
    transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
  }

  .onearea:hover {
    box-shadow:0 0 20px rgba(33,33,33,.2);
    -webkit-transform:scale(1.05,1.05);
    transform:scale(1.05,1.05);
  }

  .opacity05 {
    padding-bottom:40px;
    height:700px;
    background-color:rgba(255,255,255,0.8);
  }

  .hedytexttilt {
    transform:rotate(-10deg);
    text-align:left;
    margin-left:60px;
    font-family:River Jade;
    margin-bottom:-50px;
    letter-spacing:0;
    color:#FE7E83;
    font-size:120px;
    margin-top:15px;
  }
}

@media (min-width:1000px) {
  .threeareas {
    width:100%;
    display:flex;
    flex-flow:wrap;
    justify-content:space-between;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:100px;
  }

  .threeareassmalltext {
    font-family:Futura Thin;
    text-align:left;
    padding-left:1vw;
    padding-right:1vw;
    letter-spacing:0px;
  }

  .threeareassmalltext2 {
    font-family:Futura Thin;
    text-align:left;
    padding-top:40px;
    padding-left:1vw;
    padding-right:1vw;
    padding-bottom:45px;
    letter-spacing:0px;
    opacity:1;
  }

  .threeareassmalltext3 {
    font-family:Futura Thin;
    text-align:left;
    padding-top:40px;
    padding-left:1vw;
    padding-right:1vw;
    padding-bottom:20px;
    letter-spacing:0px;
  }

  #innovation {
    background-image:url(../../images/innovationstudiopic.jpg);
    background-repeat:no-repeat;
    background-position:right;
    background-size:cover;
    z-index:-1;
  }

  #academy {
    background-image:url(../../images/code2.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    z-index:-1;
  }

  #academy3 {
    background-image:url(../../images/code2.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    z-index:-1;
  }

  #services {
    background-image:url(../../images/wall.jpg);
    background-repeat:no-repeat;
    background-position:top;
    background-size:cover;
    background-attachment:fixed;
    z-index:-1;
  }

  #innovation {
    background-image:url(../../images/startup.jpg);
    background-repeat:no-repeat;
    background-position:bottom;
    background-size:cover;
    background-attachment:fixed;
    z-index:-1;
  }

  .headerpic {
    background-image:url(../../images/loadingpage2.jpg);
    background-repeat:no-repeat;
    background-position:top;
    background-size:cover;
    background-attachment:fixed;
    z-index:-1;
  }

  .hedy {
    background-image:url(../../images/hedy4.jpg);
    background-repeat:no-repeat;
    background-position:top;
    background-size:cover;
    background-attachment:fixed;
    z-index:-1;
  }

  .wearehedy {
    background-image:url(../../images/poster.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    z-index:-1;
  }

  .gettoknow {
    background-image:url(../../images/loadingpage1.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
    background-attachment:fixed;
    z-index:-1;
  }

  .whatwedo {
    background-image:url(../../images/loadingpage3.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    z-index:-1;
  }

  #kotlin {
    background-image:url(../../images/kotlin.jpg);
    background-repeat:no-repeat;
    background-position:top;
    background-size:cover;
    background-attachment:fixed;
    z-index:-1;
  }

  #kotlin2 {
    background-image:url(../../images/kotlin.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
  }

  .picturedivwhatwedo {
    width:30%;
    margin:10px;
    border-radius:10px;
    padding:10px;
    -webkit-transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
    transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
  }

  .onearea {
    height:500px;
    background-color:rgba(255,255,255,0.3);
    padding:2vw;
    text-align:center;
    font-family:Arca Majora3;
    letter-spacing:5px;
    transition: 0.2s ease-in-out,width 1s ease-in,height 1s linear,border-radius 1s ease-in-out;
    -webkit-transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
    transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
  }

  .onearea:hover {
    box-shadow:0 0 20px rgba(33,33,33,.2);
    -webkit-transform:scale(1.05,1.05);
    transform:scale(1.05,1.05);
  }

  .opacity05 {
    padding-bottom:40px;
    height:450px;
    background-color:rgba(255,255,255,0.8);
  }

  .hedytexttilt {
    transform:rotate(-10deg);
    text-align:left;
    margin-left:50px;
    font-family:River Jade;
    margin-bottom:-20px;
    letter-spacing:0;
    color:#FE7E83;
    font-size:70px;
    margin-top:0;
  }

  .whatwedodiv {
    margin:30px;
    padding-top:50px;
  }

  .arcamajora2 {
    font-family:Arca Majora3;
    font-size:50px;
    text-align:center;
    letter-spacing:5;
  }
}

.wearehedytextbox {
  width:100%;
  margin:auto;
  font-family:Futura Medium Italic;
  text-align:center;
}

.wearehedytext {
  display:flex;
  flex-flow:column;
  justify-content:space-around;
  text-align:center;
  padding-left:250px;
  padding-right:250px;
  padding-top:100px;
  padding-bottom:100px;
  margin:auto;
  font-size:40px;
  background-color:rgba(255,255,255,0.3);
  color:white;
}

.teampicturebox {
  display:flex;
  flex-flow:column;
  justify-content:space-around;
  background-color:rgba(255,255,255,0.9);
  padding-top:15vw;
  background-size:cover;
  width:100%;
  font-family:Arca Majora3;
  text-align:center;
}

.teampicture {
  background-image:url(../../images/TeamHedy.png);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  background-size:90%;
  background-color:white;
  cursor:pointer;
}

.teampicture .button-pink {
  margin-top: 8vw;
}

#texthedyteam {
  padding-top:230px;
  font-size:6vw;
}

@media (max-width:1000px) {
  #texthedyteam { padding-top:180px; }
}

.introbox {
  width:80%;
  height:auto;
  background-color:#051C26;
  margin:auto;
  text-align:center;
  display:flex;
  flex-flow:column;
  padding:50px;
}

.introtext {
  margin:0;
  text-align:justify;
  font-size:50px;
  font-family:Futura Medium Italic;
  color:#FE7E83;
}

.introtextsmall {
  margin-top:20px;
  margin-bottom:20px;
  text-align:justify;
  font-size:40px;
  font-family:Futura Thin;
  color:#F8ECE4;
}

.introtextlast {
  margin:0;
  text-align:center;
  font-size:50px;
  font-family:Futura Medium Italic;
  color:#FE7E83;
}

.webintrobox {
  width:80%;
  height:auto;
  margin:auto;
  text-align:center;
  display:flex;
  flex-flow:column;
  padding:50px;
}

.webintrotext {
  margin:0;
  font-size:70px;
  font-family:Futura Medium Italic;
}

.webintrotextsmall {
  padding-left:150px;
  padding-right:150px;
  margin-top:20px;
  margin-bottom:20px;
  text-align:justify;
  font-size:20px;
  font-family:Futura Thin;
}

.webintrotextlast {
  margin:0;
  padding-left:150px;
  text-align:left;
  font-size:20px;
  font-family:Futura Medium Italic;
  color:#FE7E83;
}

.introdiv {
  width:100%;
  display:flex;
  height:500px;
  flex-flow:wrap;
  justify-content:space-between;
}

.introsmalltext {
  font-family:Futura Medium Italic;
  text-align:left;
  padding:30px;
  font-size:20px;
  margin-top:100px;
  width:55%;
  height:300px;
  color:white;
  background-color:black;
  margin-right:20px;
}

.smallertext { font-size:30px; }

@media (max-width:1000px) {
  .introdiv {
    width:100%;
    display:flex;
    height:500px;
    margin-bottom:500px;
    flex-flow:column;
    justify-content:space-between;
  }

  .introsmalltext {
    font-family:Futura Medium Italic;
    text-align:left;
    padding:30px;
    font-size:18px;
    margin-top:100px;
    width:100%;
    height:300px;
    color:white;
    background-color:black;
    margin-right:20px;
  }

  .smallertext {
    text-align:center;
    font-size:30px;
  }
}

@media (min-width:1000px) {}

#hedylamarrpicture {
  background-image:url(../../images/hedyfaceweb1.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  background-size:50%;
  background-color:rgb(255,255,255,0.5);
}

#hedylamarrtext {
  font-family:River Jade;
  padding-top:700px;
  font-size:90px;
  text-align:center;
  margin-top:0;
}

.hedypicturebox {
  padding-top:400px;
  margin-top:50px;
  padding-left:20px;
  padding-right:20px;
  display:flex;
  flex-flow:column;
  justify-content:space-around;
  height:600px;
  width:100%;
  text-align:center;
}

#hedylamarrquote {
  font-family:River Jade;
  padding-top:400px;
  font-size:90px;
  text-align:center;
  margin-top:0;
  padding-left:20px;
  padding-right:20px;
}

.hedyquotesmalltext {
  margin-top:-50px;
  font-family:Futura Medium Italic;
  text-align:center;
  padding-left:100px;
  padding-right:100px;
  font-size:40px;
}

.hedylamarrtext {
  font-family:Futura Thin;
  text-align:left;
  padding-left:100px;
  padding-right:100px;
  font-size:20px;
  margin-top:300px;
}

@media (max-width:1000px) {
  .hedyhandsvartbeige {
    background-image:url(../../images/vithand.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    background-size:70%;
  }

  .hedydiv {
    width:80%;
    margin:auto;
    display:flex;
    flex-flow:column;
    justify-content:space-between;
  }

  .hedybox1 {
    padding-left:40px;
    width:100%;
    font-family:Futura Thin;
    justify-content:center;
  }

  .arcamajora {
    font-family:Arca Majora3;
    letter-spacing:5px;
  }

  .hedybox {
    margin-right:0px;
    width:100%;
    margin-top:0px;
    height:auto;
    font-family:Futura Thin;
    justify-content:center;
    padding:80px;
  }

  .margintop {
    text-align:center;
    margin-top:0px;
    padding-top:450px;
    height:600px;
  }

  .hedypicturebox {
    padding-top:700px;
    margin-top:50px;
    padding-left:20px;
    padding-right:20px;
    display:flex;
    flex-flow:column;
    justify-content:space-around;
    height:0px;
    width:100%;
    text-align:center;
  }
}

@media (min-width:1000px) {
  .hedypicturebox {
    height:400px;
    width:40%;
  }

  .hedypagewebbox {
    width:100%;
    display:flex;
    flex-flow:wrap;
    justify-content:space-between;
    padding-left:100px;
    padding-right:100px;
    background-color:white;
  }

  .hedylamarrtext {
    font-family:Futura Thin;
    text-align:left;
    padding-left:0px;
    padding-right:0px;
    font-size:20px;
    margin-top:170px;
    width:50%;
  }

  .abouttextthinleft { width:50%; }

  #hedylamarrquote {
    padding-top:10px;
    font-size:30px;
    padding-left:0px;
    padding-right:0px;
  }

  .hedyquotesmalltext {
    margin-top:-20px;
    font-family:Futura Medium Italic;
    text-align:center;
    padding-left:0px;
    padding-right:0px;
    font-size:15px;
  }

  .mobile { display:none; }

  .hedyhandsvartbeige {
    background-image:url(../../images/vithand.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    background-size:70%;
  }

  .hedydiv {
    width:100%;
    display:flex;
    flex-flow:wrap;
    justify-content:space-between;
  }

  .hedybox1 {
    padding-left:40px;
    width:45%;
    font-family:Futura Thin;
    justify-content:center;
  }

  .hedyboxheader {
    font-family:Arca Majora3;
    letter-spacing:5px;
  }

  .hedybox {
    margin-right:2vw;
    width:50%;
    font-family:Futura Thin;
    justify-content:center;
    padding:0px;
    display:flex;
    flex-flow:wrap;
    justify-content:space-between;
  }

  .margintop {
    text-align:center;
    padding-left:1vw;
    padding-right:1vw;
    position:relative;
    top:20em;
  }
}