.teampicturebox {
  display:flex;
  flex-flow:column;
  justify-content:space-around;
  background-color:rgba(255,255,255,0.9);
  padding-top:15vw;
  background-size:cover;
  width:100%;
  font-family:Arca Majora3;
  text-align:center;
}

.teampicture {
  background-image:url(../../images/TeamHedy.png);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  background-size:90%;
  background-color:white;
  cursor:pointer;
}

#texthedyteam {
  padding-top:230px;
  font-size:6vw;
}

@media (max-width:1000px) {
  #texthedyteam { padding-top:180px; }
}

@media (min-width:1000px) {}